<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href= "CSS/carrito.css">
    <link rel="stylesheet" href="CSS/estilos.css">
    <link rel="icon" href="images/logo.ico">
</head>


<body>
    <header>
        <div class="menu container">
            <div class="logo-content">
                <a href="index.html"><img src="/images/logo_pagina.png" alt="logo" class="logo"></a>
                <h1><a href="index.html">De Campo</a></h1>
            </div>
            <input type="checkbox" id="menu">
            <label for="menu"><img src="images/menu.png" alt="" class="menu-icono"></label>
            <div>                
                <nav class="navbar">
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="productos.html">Productos</a></li>
                        <li><a href="nosotros.html">Nosotros</a></li>
                        <li><a href="contacto.html">Contacto</a></li>                        
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="app">
        <h2>Carrito de compras</h2> 
        <p style="max-width: 670px;">Ventas por mayor: Se realiza un 25% de decuento al precio por kilo de los productos que superen los 50kg.</p>       
        <table>
            <thead>
                <tr>
                    <th align="center" style = "color: rgb(255, 255, 255);">Código</th>
                    <th align="center" style = "color: rgb(255, 255, 255);">Descripción</th>
                    <th align="center" style = "color: rgb(255, 255, 255);">Stock</th>
                    <th align="center" style = "color: rgb(255, 255, 255);">Precio</th>
                    <th align="center" style = "color: rgb(255, 255, 255);">Cantidad (kg)</th>
                    <th align="center" style = "color: rgb(255, 255, 255);">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="producto in productos" :key="producto.codigo">
                    <td align="center" style = "color: rgb(255, 255, 255); padding: 5px;">{{ producto.codigo }}</td>
                    <td align="center" style = "color: rgb(255, 255, 255); padding: 5px;">{{ producto.descripcion }}</td>
                    <td align="center" style = "color: rgb(255, 255, 255); padding: 5px;">{{ producto.cantidad }} kg</td>
                    <td align="center" style = "color: rgb(255, 255, 255); padding: 5px;">{{ producto.precio }}/kg</td>
                    <td><input type="number" id="cantidad" name="cantidad" required style="width: 130px;"><br></td>
                    <td>
                        <button @click="agregarAlCarrito(producto)">&nbsp;&nbsp;<b>+</b>&nbsp;&nbsp;</button>
                        <button @click="restarDelCarrito(producto)">&nbsp;&nbsp;<b>-</b>&nbsp;&nbsp;</button>
                    </td>
                </tr>
            </tbody>
        </table>


        <div v-if="mostrarCarrito">
            <h2>Productos en el carrito:</h2>
            <table>
                <thead>
                    <tr>
                        <th align="center" style = "color: rgb(255, 255, 255); padding: 5px;">Código</th>
                        <th align="center" style = "color: rgb(255, 255, 255); padding: 5px;">Descripción</th>
                        <th align="center" style = "color: rgb(255, 255, 255); padding: 5px;">Cantidad</th>
                        <th align="center" style = "color: rgb(255, 255, 255); padding: 5px;">Precio</th>
                        <th align="center" style = "color: rgb(255, 255, 255); padding: 5px;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in carrito" :key="item.codigo">
                        <td align="center" style = "color: rgb(255, 255, 255); padding: 5px;">{{ item.codigo }}</td>
                        <td align="center" style = "color: rgb(255, 255, 255); padding: 5px;">{{ item.descripcion }}</td>
                        <td align="center" style = "color: rgb(255, 255, 255); padding: 5px;">{{ item.cantidad }} kg</td>
                        <td align="center" style = "color: rgb(255, 255, 255); padding: 5px;" v-if="item.cantidad >= 50">{{ item.precio * 0.75}}/kg</td>
                        <td align="center" style = "color: rgb(255, 255, 255); padding: 5px;" v-if="item.cantidad < 50">{{ item.precio}}/kg</td>
                        <td align="center" style = "color: rgb(255, 255, 255); padding: 5px;" v-if="item.cantidad >= 50">${{ item.precio * 0.75 * item.cantidad}}</td>
                        <td align="center" style = "color: rgb(255, 255, 255); padding: 5px;" v-if="item.cantidad < 50">${{ item.precio * item.cantidad}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div v-if="!mostrarCarrito" class="contenedor-centrado">
            <button @click="obtenerCarrito">Mostrar carrito</button>
        </div>


        <div class="contenedor-centrado">
            <a href="index.html" style="margin-bottom: 20px;">Menu principal</a>
        </div>
    </div>


    <script>
        //const URL = "http://127.0.0.1:5000/"
        const URL = "https://batymza.pythonanywhere.com/"

        let num = 0
        function actualizar(){
        location.reload(true)
        }
        const app = Vue.createApp({            
            data() {
                return {
                    productos: [],
                    mostrarCarrito: false,
                    carrito: [],
                }
            },
            created() {
                this.obtenerProductos()
            },
            methods: {
                obtenerProductos() {
                    fetch(URL + 'productos')
                        .then(response => response.json())
                        .then(data => {
                            this.productos = data
                        })
                        .catch(error => {
                            console.error(URL + 'productos', error)
                            alert('Error al obtener los productos.')
                        })
                },
                
                agregarAlCarrito(producto) {
                    num = parseInt(document.getElementById("cantidad").value)                   
                    fetch(URL + 'carrito', {                        
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            codigo: producto.codigo,                                                             
                            cantidad: num, // Agregamos una unidad al carrito
                        }),
                    })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.message)                        
                        })                        
                        .catch(error => {
                            console.error('Error al agregar el producto al carrito:', error)
                            alert('Error al agregar el producto al carrito.')
                        })                                                                                           
                },
                restarDelCarrito(producto) {
                    num = parseInt(document.getElementById("cantidad").value) 
                    fetch(URL + 'carrito', {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            codigo: producto.codigo,
                            cantidad: num, // Restamos una unidad del carrito
                        }),
                    })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.message)
                        })
                        .catch(error => {
                            console.error('Error al restar el producto del carrito:', error)
                            alert('Error al restar el producto del carrito.')
                        })
                },
                obtenerCarrito() {
                    fetch(URL + 'carrito')
                        .then(response => response.json())
                        .then(data => {
                            this.carrito = data
                            this.mostrarCarrito = true
                        })
                        .catch(error => {
                            console.error('Error al obtener el carrito:', error)
                            alert('Error al obtener el carrito.')
                        })
                },
            },
        })
        app.mount('#app')
    </script>
</body>


</html>
